body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.Container {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.title {
  color: #3f51b5; 
}

.todo-container {
  max-width: 400px;
  margin: auto;
}

.todo-input {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.add-button {
  background-color: #3f51b5; 
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 30%;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  background-color: #eee;
  color: #333;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  background-color: #cfd8dc; 
  text-decoration: line-through;
  color: #546e7a; 
}

.edit-button,
.remove-button {
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}

.edit-button:hover,
.remove-button:hover {
  color: #e74c3c; 
}